@model SelfCheckoutSim.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "Add Item";
}

<h2>Add Item</h2>

<form asp-controller="Item" asp-action="AddItem" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Price"></label>
        <input type=number asp-for="Price" class="form-control" />
        <span asp-validation-for="Price"></span>
    </div>

    <div>
        <label asp-for="Wt"></label>
        <input type=number asp-for="Wt" class="form-control" value="0"/>
        <span asp-validation-for="Wt"></span>
    </div>

    <div>
        <label asp-for="Fs"></label>
        <input asp-for="Fs" class="form-control" />
        <span asp-validation-for="Fs"></span>
    </div>

    <div>
        <label asp-for="LbOrUnit"></label>
        <select asp-for="LbOrUnit" class="form-control">
            <option value="Lb">Pound</option>
            <option value="Unit">Unit</option>
        </select>
    </div>

    <div>
        <label asp-for="PLU"></label>
        <input type="number" asp-for="PLU" class="form-control" />
        <span asp-validation-for="PLU"></span>
    </div>

    <input type="submit" value="Add Item to Database" />
</form>

