
@{
    ViewData["Title"] = "New Order";
}

<h2>New Order</h2>
<form method="post">
    <label>
        Choose an item from the list to add to the cart or
        start type the name in:
    </label> <input list="shelf" name="shelf" />
    <datalist id="shelf" name="shelf">
        @foreach (var item in ViewBag.Shelf)
        {
            <option value="@item.ID">@item.Name</option>
        }
    </datalist>
    <input type="submit" name="action" value="Add Item" />
    <br>
    @if (ViewBag.Cart != null)
    {
        <label>Current cart</label>
        <input list="cart" name="cart" />
        <datalist id="cart" name="cart">
            @foreach (var item in ViewBag.Cart)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </datalist>
        <input type="submit" name="action" value="Remove Item" />
        <input type="submit" name="action" value="Checkout" />

    }
    else {
        <h1>No items in cart</h1>
    }

</form>
