@model SelfCheckoutSim.Models.Item

@{
    ViewData["Title"] = "RemoveItem";
}

<h2>Remove Item</h2>

<form method="post">
    <datalist name="items" id="items">
        @foreach (var item in ViewBag.Items)
        {
            <option value="@item.ID">@item.Name</option>
        }
    </datalist>
    <button type="submit">Submit</button>
</form>

<!-- how to use a select
    <form method="post">
    <select name="items" id="items">
        foreach (var item in ViewBag.Items)
    {
        <option value="item.ID">item.Name</option>
    }
    </select>

        <button type="submit">Submit</button>
    </form> 
    -->


