@model SelfCheckoutSim.Models.Item

@{
    ViewData["Title"] = "RemoveItem";
}

<h2>RemoveItem</h2>
<!--TODO look up how to do select tag with source data-->

<form asp-controller="SelfCheckoutSim" asp-action="RemoveItem" method="post">
    @{ foreach ()
    <select>
        
    </select> 
    }
    
</form>

